<section id="resume" class="resume section bg-light padding-top">

    <div class="container section-title" data-aos="fade-up">
        <h2 class="sree-krushnadevaraya-regular">Resume</h2>
        <div class="horigental-line"></div>
        <p>Dedicated to delivering creative approaches and achieving excellence in every project undertaken.</p>
    </div>

    <div class="container">

        <div class="row">

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title sree-krushnadevaraya-regular">Sumary</h3>

                <div class="resume-item pb-0">
                    <h4>Vimal Dubey</h4>
                    <p><em>Innovative and goal-oriented Web Developer and Civil Engineer with experience in creating
                            dynamic
                            websites and managing
                            engineering projects. Skilled in JavaScript, AngularJS, and Node.js, delivering
                            user-centered designs
                            and solutions from
                            concept to deployment.</em></p>
                    <ul>
                        <li>Handia, Prayagraj, Uttar Pradesh</li>
                        <li>(+91) 9415-0585-53</li>
                        <li>vimald1011&#64;gmail.com</li>
                    </ul>
                </div>

                <h3 class="resume-title sree-krushnadevaraya-regular">Education</h3>
                <div class="resume-item">
                    <h4>Bachelor in Computer Science</h4>
                    <h5>2015 - 2018</h5>
                    <p><em>United Group of Instututions, Prayagraj</em></p>
                    <p>Acquired a comprehensive understanding of computer science principles and honed skills in
                        software development, problem-solving, and teamwork through academic projects and coursework.
                    </p>
                    <ul>
                        <li>Graduated with a Bachelor of Computer Science, gaining a strong foundation in programming,
                            algorithms, and data
                            structures.</li>
                        <li>Completed coursework in web development, databases, and software engineering, focusing on
                            practical
                            applications of
                            computer science. </li>
                        <li>Engaged in team-based projects, applying problem-solving skills to build full-stack web
                            applications
                            and software
                            solutions.</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <h3 class="resume-title sree-krushnadevaraya-regular">Professional Experience</h3>
                <div class="resume-item pb-0 mb-2">
                    <h4>Site incharge </h4>
                    <h5>2021 - 2023</h5>
                    <p><em>Raipur, Chhattisgarh, IN </em></p>
                    <ul>
                        <li>working with daily activities and progress.</li>
                        <li>Managed site operations, including material procurement and labor management. </li>
                        <li>Supervised the construction of the RE wall, ensuring quality standards were met.Coordinated
                            with contractors and ensured timely completion of the project.</li>
                        <li>Managing the ongoing RE wall construction project.Overseeing quality control and
                            project timeline adherence.</li>
                    </ul>
                </div>

                <div class="resume-item">
                    <h4>Web Developer</h4>
                    <h5>2024 - Present</h5>
                    <p><em>Stepping Stone Advertising, New York, NY</em></p>
                    <ul>
                        <li>Developed responsive websites using JavaScript, HTML, and CSS, ensuring compatibility across
                            all
                            devices and browsers.</li>
                        <li>Built single-page applications (SPA) with AngularJS, delivering seamless user experiences
                            and
                            efficient performance.</li>
                        <li>Integrated MongoDB for dynamic data storage, enabling efficient handling of user data and
                            content
                            management.</li>
                        <li>Collaborated on website projects, utilizing Node.js for server-side development and API
                            integrations.</li>
                    </ul>
                </div>

            </div>

        </div>

    </div>

</section>