<section id="services" class="services section padding-top">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2 class="sree-krushnadevaraya-regular">Services</h2>
        <div class="horigental-line"></div>
        <p>I offer a range of professional digital services to help bring your vision to life. From creating dynamic
            websites to
            enhancing existing platforms, graphic design, and video editing, my solutions are tailored to meet your
            specific needs.</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">

            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
                <div class="service-item position-relative">
                    <div class="icon"><i class="bi bi-code-square"></i></div>
                    <h4><a href="" class="stretched-link">Web Development</a></h4>
                    <p>Design and develop responsive websites using JavaScript, HTML, CSS, and modern frameworks like
                        AngularJS for optimal
                        performance.</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
                <div class="service-item position-relative">
                    <div class="icon"><i class="bi bi-globe2"></i></div>
                    <h4><a href="" class="stretched-link">Update Existing Websites</a></h4>
                    <p>Revamp and optimize your current website, ensuring up-to-date features, improved functionality,
                        and a
                        fresh, modern look.</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
                <div class="service-item position-relative">
                    <div class="icon"><i class="bi bi-bounding-box-circles icon"></i></div>
                    <h4><a href="" class="stretched-link">Graphic Design</a></h4>
                    <p>Create visually compelling graphics for digital and print, enhancing brand identity and
                        delivering
                        impactful designs.</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
                <div class="service-item position-relative" id="vim">
                    <!-- <div class="icon"><i class="bi bi-broadcast icon"></i></div> -->
                    <div class="icon"><i class="bi bi-camera-reels"></i></div>
                    <h4><a href="" class="stretched-link">Video Editing</a></h4>
                    <p>Produce engaging videos with professional editing techniques, including cutting, transitions, and
                        effects, for social
                        media and promotional content.</p>
                </div>
            </div><!-- End Service Item -->

        </div>

    </div>

</section>